.wind-title {
    color: #fbb03b;
    font-size: 33px;
    margin-top: 10px;
}

.wind-flex {
    display: flex;
    justify-content: center;
}

.wind-subtitle {
    color: white;
    position: relative;
    margin-right: 110px;
    z-index: -1;
}

@media (max-width:767px) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .wind-subtitle {
        margin-right: 410px;
    }
}